<div class="cardUixCase">   


    <div class="flex" id="backgroundSection">

        <div class="flex-1 landing-column animate-sliding-up">
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a16a2778ca774d567129c9.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a1863b78ca774d56e087f2.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/9c47ef4fb6c47672169990.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <!-- Agrega más imágenes según sea necesario -->
        </div>
    
        <div class="flex-1 landing-column animate-sliding-down" style="animation-delay: 0.15s;">
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a32e165b3046b54e74fee0.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <!-- Agrega más imágenes según sea necesario -->
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a16a2778ca774d567129c9.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a16a2778ca774d567129c9.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>

        </div>
    
        <div class="flex-1 landing-column animate-sliding-up" style="animation-delay: 0.3s;">
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/9b7a86a89c0cfd224c5bdd.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a0aeeac4d5d9e4b63c3e1d.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a16a2778ca774d567129c9.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <div style="padding: 0px 6.5625% 13.125%;">
            <div class="relative w-full" style="padding-bottom: 132.639%;">
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a16a2778ca774d567129c9.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <div style="padding: 0px 6.5625% 13.125%;">
          <div class="relative w-full" style="padding-bottom: 132.639%;" >
              <img class="absolute inset-0 h-full w-full bg-image-loading image" src="https://dr.savee-cdn.com/things/thumbnails/6/5/a16a2778ca774d567129c9.webp" decoding="async" style="background: rgb(35, 34, 38);">
            </div>
          </div>
          <!-- Agrega más imágenes según sea necesario -->
        </div>
    
    </div>
      


    <div id="overlay"></div>

    <div id="infoDiv">
        <div class="custom-container">
            <div class="flex justify-center">
                <svg fill="currentColor" height="30" viewBox="0 0 36 30" width="36" class="text-primary h-11 w-11">
                    <path fill="currentColor" fill-rule="evenodd"></path>
                </svg>
            </div>
            <div class="flex flex-col justify-center text-center cntrTitlesCaption" style="align-items: center">
                <h2 class="type-huge mb-8 text-4xl font-extrabold ">Design Stories Unleashed</h2>
                <p class="type-subtitle mb-20 inline-block sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">Explore my design journey—where creativity meets functionality in every project.</p>
                <div class="flex-center flex space-x-6 cntrBtn">
                    <a class="custom-button btnJoin"  href="https://www.notion.so/Joel-s-Projects-4d9495a362ce4159aae5356297e87ae9">
                        <span class="flex-center">Explore</span>
                    </a>
                    <a class="text-primary hover:text-muted btnLoginInfo" title="Behance" href="https://www.behance.net/joelbentez">Behance Showcase</a>
                </div>
            </div>
            <div class="type-small flex flex-col-reverse items-center flex items-end justify-between superCntrAreaInfo">
                <span class="flex space-x-2 flex-wrap justify-center space-x-10 uppercase cntrArefInfo">
                    <a class="text-primary hover:text-muted" href="https://www.linkedin.com/in/joel-benitez-iiot-industry/" title="Linkedin" target="_blank" rel="noopener noreferrer">Linkedin</a>
                    <a class="text-primary hover:text-muted" href="./blog" title="Blog" target="_blank" rel="noopener noreferrer">Blog</a>
                    <a class="text-primary hover:text-muted" href="mailto:joelbenitezdonari@gmail.com" title="Contact">Contact</a>
                </span>
            </div>
        </div>
    </div>

</div>

<style>
.cardUixCase {
    margin-top: 1rem;
    padding: 0;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #000;
    width: 100%;
    height: 500px;
    position: relative;
}

#overlay {
     position: relative;
     /* top: 0;
    left: 0;  */
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; 
    position: absolute;
    top: 0;
    left: 0;
}

#backgroundSection {
    display: flex;
    padding: 0 2.1875%;
    z-index: 2;
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
}

/* .landing-column {
    flex: 1;
    overflow: hidden;
}

.image-container {
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    transition: transform 1s ease-in-out;
    filter: brightness(0.8);
}

.animate {
    transform: translateY(-100%);
} */

@media screen and (max-width: 768px) {
    /* #backgroundSection {
        flex-direction: column;
    } */

    .landing-column {
        padding: 0;
    }
}


#infoDiv {
    position: relative;
     /*top: 50%;  */
    /*left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 3; 
    color: #ffffff;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.type-huge {
    
    /* font-size: 4.5rem;
    line-height: 4.5rem; */
    
    font-weight: 600;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-bottom: 1rem;
}

.type-subtitle {
    /* font-size: 1.5rem; */
    margin-bottom: 2rem;
    text-align: center;
}

.custom-button {
    display: inline-block;
    cursor: pointer;
}
.cntrBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.btnJoin{
  color: rgba(5,5,5,1);
  border-radius: 9999px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}
.btnJoin:hover{
    color: white;
    background: rgba(255, 255, 255, 0.421);
    border: 2px solid rgb(0, 179, 255);
    transition: all 0.2s ease-in-out;
}
.cntrTitlesCaption{
      flex-direction: column;
}
.btnLoginInfo{
  color: white;
}
.cntrArefInfo{
      display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.superCntrAreaInfo{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}
.superCntrAreaInfo a {
    text-decoration: none;
    color: white;
}





/* images section */
.landing-column > div {
  padding: 0 6.5625% 6.5625%; /* Reducido el espacio inferior a 6.5625% */
}
    .landing-column {
      flex: 1;
      overflow: hidden;
    }

    .animate-sliding-up {
      animation: slide-up 3s infinite alternate ease-in-out;
    }

    .animate-sliding-down {
      animation: slide-down 3s infinite alternate ease-in-out;
    }

    @keyframes slide-up {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }

    @keyframes slide-down {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(20px);
      }
    }

    .image-container {
      display: flex;
      height: 100vh;
      overflow: hidden;
      position: relative;
    }

    .column {
      flex: 1;
      overflow: hidden;
      position: relative;
      margin: 0 1%; /* Ajusta el margen entre imágenes */
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100%; /* Haz que las imágenes sean completamente responsivas */
      transition: transform 1s ease-in-out;
      filter: brightness(0.8);
    }

    /* Clase de animación */
    .animate {
      transform: translateY(-100%);
    }





</style>

<script>
    // JavaScript para agregar la clase de animación a las imágenes
    const images = document.querySelectorAll('.image');
    setInterval(() => {
      images.forEach(image => {
        image.classList.toggle('animate');
      });
    }, 5000); // Cambia la imagen cada 3 segundos (ajusta según sea necesario)

</script>