<!--  services -->

<!--  These are the services I provide -->
<div class="services">

    <div class="sectionservices" id="titleservicesSection">
        <span>These are the services I provide &nbsp;</span>
        <div class="imagesectionhandsERVICES">
            <img src="./images/hand.png" alt="" sizes="" srcset="">
         </div>
        <!-- These are the services I provide   blog/services -->
    </div>

    <div class="servicessectionTis">

        <div class="sectionItemService">Landing page creation</div>
        <div class="sectionItemService">Web applications with AI</div>
        <div class="sectionItemService">Industrial dashboards and OEE</div>
        <div class="sectionItemService">System designs and web components</div>
        <div class="sectionItemService">Web service consulting</div>        
        <div class="sectionItemService">Industrial application advisory</div>
        <a class="arrowMoreInfo" href="./blog/services"  rel="noopener noreferrer">
            <div class="arrowMoreInfo">
                <div class="itemsectionarrowmoredata">
                    <div class="itemmoredataarrowsvg">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.25403 1.46875C2.83987 1.46875 2.5041 1.80446 2.50403 2.21862C2.50396 2.63289 2.83977 2.96875 3.25403 2.96875H5.94325L1.47358 7.43842C1.18068 7.73131 1.18068 8.20619 1.47358 8.49908C1.76647 8.79197 2.24134 8.79197 2.53424 8.49908L7.00299 4.03033L7.00314 6.71982C7.00316 7.13345 7.34024 7.46875 7.75387 7.46875C8.16752 7.46875 8.50108 7.13342 8.50108 6.71978V2.21875C8.50108 1.80454 8.16529 1.46875 7.75108 1.46875H3.25403Z" fill="white"></path></svg>
                    </div>
            
                </div>
            </div>
        </a>
    </div>


</div>

<!-- dashboards industriales and oee -->
<!-- creation landingpage -->
<!-- web aplicactions con ia -->
<!-- system designs and web components -->
<!-- aplication consultant webservice -->

<style>
    .itemsectionarrowmoredata {
        display: flex;
        background: #00000021;
        background: rgba(0, 0, 0, .2);
        border-radius: 0.8rem;
        padding: 5px;
        margin: 5px;
    }
    .arrowMoreInfo {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff0d;
        z-index: 9;
        display: flex;
        top: 0;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .services{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    #titleservicesSection{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0.5rem;
        justify-content: center;
        padding: 29px;
        padding-right: 5px;
        padding-left: 5px;
    }
    #titleservicesSection span{
        text-align: center;
    }
    .servicessectionTis {
        position: relative;
        border: 1px solid gray;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-items: center;
        border-radius: 0.8rem;
        padding: 9px;
        align-content: flex-start;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .sectionItemService {
        border: 1px solid gray;
        border-radius: 0.8rem;
        padding: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }

    @media screen and (max-width: 767px) {
    .sectionItemService {
        width: 100%;
    }
}
</style>