---
import CubeSection from "./CubeSection.astro"

---
<div class="ListCardProyects">
    <!-- Crad map -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 relative Carditem">
      <a href="/blog/MapsProject">
          <img class="rounded-t-lg" src="/images/projects/CoverMaps.png" alt="" />
      </a>
      <div class="p-5">
          <a href="/blog/MapsProject">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Multi-Provider 3D Maps Explorer</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Switch seamlessly between Google Maps, Apple Maps and MapLibre, enjoy 3D views, real-time weather and personalised favourites.</p>
          <a href="/blog/MapsProject" class="readmoreInfo dark:darkmodeReadMore">
              Read more
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a>
      </div>
    </div>
  
    <!-- card trheejs -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 relative Carditem">
      <a href="/blog/Threeweb">
          <img class="rounded-t-lg" src="/images/projects/threejs.png" alt="" />
      </a>
      <div class="p-5">
          <a href="/blog/Threeweb">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Live Chat and Collaborative Exploration</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Thanks to Three.js and WebSockets, users can communicate via live chat as they explore and move around a shared 3D map. Watch other users' movements in real time for a unique collaborative experience.</p>
          <a href="/blog/Threeweb" class="readmoreInfo dark:darkmodeReadMore ">
              Read more
               <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a> 
      </div>
    </div>
  
    <!-- card vanillaUI -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 relative Carditem ">
      <a href="/blog/VanillaUI">
          <img class="rounded-t-lg" src="/images/blog/VaillaUI/CoverVanillaUI.png" alt="" />
      </a>
      <div class="p-5">
          <a href="/blog/VanillaUI">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">vanillaUI</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Dependency-free, Full JS Vanilla Components for Effortless Web Magic.</p>
          <a href="/blog/VanillaUI" class="readmoreInfo dark:darkmodeReadMore ">
              Read more
               <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a> 
      </div>
    </div>
    <!-- card sphere 3d -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 relative Carditem">
      <a href="/blog/SphereThree">
          <!-- <img class="rounded-t-lg" src="/images/projects/threejs.png" alt="" /> -->
          <CubeSection class="rounded-t-lg canvaThree" client:load>
      </a>
      <div class="p-5">
          <a href="/blog/SphereThree">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Psychedelic Sphere</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Moving particles with psychedelic effects using Three.Js</p>
          <a href="/blog/SphereThree" class="readmoreInfo dark:darkmodeReadMore ">
              Read more
               <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a> 
      </div>
    </div>
  </div>
  <style is:global>
    canvas{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    #FotterThree canvas{
        width: 50px;
        height: 30px;
        border-radius: 0.5rem;
    }
  </style>
  
  <style >
    .Carditem:hover img, .Carditem:hover #CubeSection {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
  }
  .Carditem img, .Carditem:hover #CubeSection {
      transition: transform 0.3s ease-in-out;
  }
    .Carditem{
          flex: 1 1 calc(50% - 20px); 
          overflow: hidden;
      }
  
  .shadow:hover {
      box-shadow: rgb(240 242 248 / 49%) 0px 0px 0px 2px;
      transition: all 0.2s ease-out 0s;
  }
  .shadow{
    transition: all 0.3s ease-out 0s;
    will-change: box-shadow, transform;
  }
  
    a.readmoreInfo:hover {
      cursor: pointer;
      transition: all 0.2s ease-out 0s;
      box-shadow: rgb(240, 242, 248) 0px 0px 0px 5px;
    }
  
    a.readmoreInfo {
        background-image:none;
        width: fit-content;
        height: 36px;
        padding: 0px 12px;
        top: 20px;
        right: 20px;
        border-radius: 18px;
        box-shadow: rgb(240, 242, 248) 0px 0px 0px 2px;
        border: none;
        background: transparent;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        transition: all 0.3s ease-out 0s;
        will-change: box-shadow, transform;
    }
    .ListCardProyects{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-wrap: nowrap;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
    @media (max-width: 480px) {
      .ListCardProyects{
        flex-direction: column;
      }
      
    }
    .uixcaseslist .overlay a.btnReadMoreInfoUIX{
      background-color: #000000ab;
    }
    .uixcaseslist .readmoreInfo span {
      /* display: none; */
      opacity: 0;
      width: 0px;
      white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier contenido que exceda el ancho del elemento */
    text-overflow: ellipsis;
      color: transparent;
      transition:  opacity 1.5s ease, width 1.5s ease; /* Agrega una transición suave */
    }
  
    .uixcaseslist .readmoreInfo:hover span {
      opacity: 1;
      width: 100px;
      transition: opacity 1.5s ease, width 1.5s ease;
      /* display: block; */
      color: white;
    }
  
    .uixcaseslist .Carditem .readmoreInfo:hover svg{
      margin-left: 0.5rem;
      color: white;
    }
    .Carditem .readmoreInfo svg{
      margin-left: 0.5rem;
    }
    .uixcaseslist .Carditem .readmoreInfo svg {
      margin-left: 0px;
    }
  
  
    .btnReadMoreInfoUIX{
      background-color: rgba(0, 0, 0, 0.5);
    }
    .image-container {
      position: relative;
      display: block;
   }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
     /* background-color: rgba(0, 0, 0, 0.5);  Puedes ajustar el color y la opacidad según tus necesidades */
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 10px; /* Puedes ajustar el espaciado según tus necesidades */
  }
  </style>